.gameboard{
    position: absolute;
    /* margin: 30px; */
    border: solid black 3px;
}
.gameboardSize{
    width: 450px;
    height: 450px;
}
.celda {
    background-color: skyblue;
    width: 45px;
    height: 45px;
}

.salvosHits {
    color: white;
    text-align: center;
    background-image: linear-gradient(#e66465, #e5b513);
}

.salvos {
    color: white;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), #e5b513);
}

.ship {
    background-color: royalblue;
}

#player {
    background-color: chartreuse;
}

#opponent {
    background-color: palevioletred;
}

#ships {
    background-color: aqua;
}

